//Receptor

#include <SPI.h>
#include <nRF24L01.h>
#include <RF24.h>
RF24 radio(A0, A1); // CE, CSN
const byte address[6] = "00001";
long envio = 0;

void setup() {
  Serial.begin(9600);
  Serial.println("iniciando");
  radio.begin();
  radio.openReadingPipe(0, address);
  radio.setPALevel(RF24_PA_MIN);
  radio.startListening();
}
void loop() {
  if (radio.available()) {
    
    radio.read(&envio, sizeof(envio));
    Serial.println(envio);
  }
}
